<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Check Out This Board</h1>
	<h2>Brand: <%= board.brand %></h2>
	<h2>Type: <%= board.type %></h2>
	<h2>Year Founded: <%= board.year_founded %></h2>
	<h2>Location: <%= board.location %></h2>

	<h3><a href="/paddleboards">HOME</a></h3>
	<h3><a href="/paddleboards/<%= board.id %>/edit">Edit This Board</a></h3>
	
</body>
</html>